*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #0C0B21;
}

/* Navigation Bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color:#0e0d27;
    align-items: center;
    border-bottom: 2px solid #36384a;
    
}
#navbar{
    position: fixed;
    width: 100%;
    height: 35px;
    top: 0;
    transition: top 0.3s;
    
}

/* Left Navigation Bar */
.left-nav{
    width: 20%;
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Left Nav Logo */
.left-nav .logo{
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    display: flex;
}
 .f{
    color: white;
}
 .s{
    color: #0d8b97;
}
.left-nav .logo img{
    width: 60px;
    display: flex;
}
/* Digi color */
.left-nav .fir{
    color: #ffd780;
    text-shadow: -1px -1px 10px #42a5f5;
}
/* Store color */
.left-nav .sec{
    color: #42a5f5;
}

/* Hide nav  */
.left-nav .menu{
    display: none;
    cursor: pointer;
}
.left-nav .menu img{
    padding: 5px;
    border-radius: 3px ;
    border: 1px solid #0d8b97;
}
.left-nav .menu img:hover{
    background-color:  #0d8b97;
    transition: 0.2s
}


/* Middle Navigation Bar */
.middle-nav{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size:20px;
}
.middle-nav a{
    color: white;
    font-weight: 23px;
    text-decoration: none;

}
.middle-nav a:hover{
    color:#9F3F79;
    transition: 0.1s;
}
.middle-nav .active{
    
    transition: 0.4s;
    color: white;
    border-bottom: 1px solid white;
    text-shadow: -1px -1px 10px black;
    
}

/* Right Navigation Bar */
.right-nav{
    display: flex;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right-nav .account{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-nav .account a{
    display: flex;
    
    border-radius: 50%;

}
.right-nav .account a:hover{
    box-shadow: 0px 0px 5px #d20937;
}
.right-nav .account{
    display: flex;
}
.right-nav .login{
    display: none;
}
.right-nav .login a{
    color: rgb(255, 255, 255);
    padding: 0px 12px;
    border: 2px solid #42a5f5;
    height: 36px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: -1px 1px 10px black;
    
}

.login a:hover,.account a:hover .account{
    box-shadow: 3px  3px #42a5f5;
    transition: 0.3s;
    
}


.right-nav .account {
    cursor: pointer;
    width: fit-content;
    border: 2px solid #ffff;
    text-decoration: none;
    height: 36px;
    width: 10p0p;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    
    color: white;
}
.account img{
    width: 25px;
}
.right-nav .account:hover{
    transition: 0.3s;
    
    background-color: #10acbb;
}

/* Responsive nav for small devices */
.res-middle-nav{
    
    border-top: 4px solid #1d1f29;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50px;
    background-color: #0e0d27;

}
.links{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nav-l{
    padding: 20px 0px;
    top: 0;
    width: 40%;
    height: 50%;
    list-style-type: none;
}
.res-middle-nav li{
    margin: 10px 0px;
}
.res-middle-nav a{
    text-decoration: none;
    color: #ffff;
    font-size: 30px;
    padding: 2px 0px;
    

}
.res-middle-nav a:hover{
    color: #c3073f;
    transition: 0.3s;
}
.nav-l  .active a{
    border-bottom: 1px solid #ffff;
}
#menu2{
   
    cursor: pointer;
}
/* Two section for add wallet and transaction */
.section{
    width: 100%;
    display: flex;
    margin-top: 50px;
}


/* <!-- Left Section For Add Money in Wallet --> */
.left-section{
    width: 50%;
    height:auto;
}
.left-section .add-wallet-title{
    width: 100%;
    margin:30px auto;
    color: #fff;
    display: flex;
    font-size: 25px;
    gap: 2px;
    justify-content: center;
    border-bottom: 1px solid #10acbb;
    text-align: center;
}


/* <!-- External Option with api Khalti / Esewa --> */
.external-option{
    display: flex;
    width: 90%;
    margin: 20px auto;
    gap: 40px;
    height: auto;
}
.external-option a{
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #10acbb;
    padding: 10px;
    border-radius: 3px;
}
.external-option a:hover img,.external-option a:hover .desc{
    border-radius: 50%;
    transition: 0.3s;
    
    font-size: 20px;
}
.external-option a:hover{
    background-color: #0d8b97;
    transition: 0.4s;
}
.external-option a img{
    width: 60px;
    border-radius: 3px;
}
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

/* Or */
.or{
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #0d8b97;
}
/* <!-- Direct Option With Bank Or Esewa --> */
.internal-option{
    width: 100%;
    
}
.qr{
    width: 100%;
    text-align: center;
}
.qr img{
    width: 100px;
    margin: 10px 0px;
}

.qr-desc{
    color: #fff;
    font-size: 18px;
}

/* Form */
.form{
    display: flex;
    justify-content: center;
}
form{
    margin-top: 20px;
    border: 2px solid #10acbb;
    padding: 10px 10px;
    width: 400px;
    height: auto;
    border-radius: 10px;
    
}
form:hover{
    background-color: #36384a;
    transition: 0.4s;
}
form label{
    color: #fff;
    font-size: 18px;
    margin: 5px;
}
form input[type=text]{
    width: 90%;
    margin: 5px auto;
    height: 25px;
    padding: 5px;
    color: #fff;
    background-color: #110F29;
    border: 1px solid transparent;
}
form input[type=file]{
   
    margin: 10px;
}
.sub{
    width: 100%;
    display: flex;
    justify-content: center;
}
form input[type=submit]{
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid #10acbb;
    border-radius: 3px;
    cursor: pointer;
    
}
form input[type=submit]:hover{
    transition: 0.3s;
    background-color: #10acbb;
}

/* Right side transaction History */
.right-section{
    width: 50%;
    margin-top: 30px;
}
.transaction{
    width: 90%;
    margin: 0px auto;
    
}
.transaction .transaction-title{
    color: #fff;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #10acbb;
}
.transac{
    
    padding: 10px;
}
.tran{
    width: 100%;
    border: 2px solid #10acbb;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 3px;
    background-color: #10acbb;
    margin: 10px 0px;
}
.tran:hover{
    transition: 0.3s;
    background-color: transparent;
}
.no-tran{
    width: 100%;
    color: white;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-first{
    width: 80%;
    margin: 10px auto;
    border: 2px solid #10acbb;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 150px;
    align-items: center;
    color:white;
    font-size: 20px;
}
.login-first a{
    text-decoration: none;
    color: white;
    margin: 20px 0px;
    padding: 10px 15px;
    background-color: #10acbb;
    border-radius: 3px;
    border: 2px solid #10acbb;
}
.login-first a:hover{
    background-color: transparent;
    transition: 0.3s;
}

/* Footer */
/* Footer Content */
.footer-1{
    width: 100%;
    height: auto; 
}
.footer{
    border-top: 3px solid #0b0a1b;
    width: 100%;
    height: auto;
    display: flex;
    
}
.f-1{
    width: 40%;
    margin-top: 10px;
}
 .title-f{
    display: flex;
    font-size: 25px;
    margin-left: 20%;
   
}
.f-1 .desc-f{
    width: 90%;
    font-weight: 500;
    font-size: 18px;
    margin: 10px auto;
    color: #404F66;
    text-align:justify;
    text-indent: 50px;
}

.f-2{
    width: 30%;
    margin-top: 10px;
    list-style-type: none;
}
.links-f li{
    text-decoration: none;
    margin-left: 10%;
    margin: 5px 0px;
}
.links-f a{
    text-decoration: none;
    color: #404F66;
}
.links-f a:hover{
    transition: 0.2s;
    color: #9F3F79;
}
.f-3{
    width: 30%;
    margin-top: 10px;
    
}
.title-n{
    color: white;
    margin-left: 10%;
}
.f-3 .desc-f{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    color:#404F66 ;
}
.f-3 .subscribe{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.subscribe input[type=text]{
    height: 30px;
    width: 60%;
    padding: 10px;
    background-color:#110F29;
    border: none;
    font-size: 15px;
}
.subscribe img{
    border: 2px solid #048F9D;
    width: 35px;
    height: 35px;
    padding: 6px;
    background-color: #048F9D;
    cursor: pointer;
}
.subscribe img:hover{
    background-color: transparent;
    transition: 0.3s;
}
.copyright{
    margin: 10px;
    background-color: #404F66;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px 0px;
}
/* For Small widht  */
@media only screen and (max-width: 1150px){
    
}

@media only screen and (max-width: 1080px){
    /* Left Navigation Bar */
   
    .left-nav{
        width: 40%;
    }
    .left-nav .menu{
        display: block;
    }

    /* Middle Navigation Bar */
    .middle-nav{
        display: none;
    }
    

    /* Right Navigation Bar */
    .right-nav{
        width: 30%;
    }


}
@media only screen and (max-width: 800px){
    /* Two section for add wallet and transaction */
    .section{
        width: 100%;
        display: block;
        margin-top: 60px;
    }
    .left-section{
        width: 100%;
        height: auto;
    }
    .right-section{
        width: 100%;
        height: auto;
    }
    form{
        margin-top: 20px;
        border: 2px solid #10acbb;
        padding: 10px 10px;
        width: 400px;
        height: 500px;
        border-radius: 10px;
        
    }

}

@media only screen and (max-width: 700px){
    .free-fire-top-up-option a,.pubg-uc-top-up-option a{
        font-size: 18px;
    }
    .left-nav{
        width: 50%;
    }
    

    .right-nav{
        width: 50%;
    }
    /* Footer */
    .footer{
        
        width: 100%;
        height: auto;
        display: block;
        
    }
    .f-1,.f-2,.f-3{
        width: 80%;
        margin: 20px auto;
    }
    
    
}
@media only screen and (max-width: 540px){
    .free-fire-top-up-option a,.pubg-uc-top-up-option a{
        font-size: 14px;
    }
    .left-nav{
        width: 50%;
    }
    .right-nav{
        width: 50%;
    }
    
    
    /* Two section for add wallet and transaction */
    .section{
        width: 100%;
        display: block;
        margin-top: 60px;
    }
    .left-section{
        width: 100%;
        height: auto;
    }
    .right-section{
        width: 100%;
        height: auto;
    }
    form{
        margin-top: 20px;
        border: 2px solid #10acbb;
        padding: 10px 10px;
        width: 250px;
        height: 500px;
        border-radius: 10px;
        
    }
}